---
import Link from "../common/Link.astro";
import Title from "../common/Title.astro";
import Key from "../common/Keyword.astro";

import contacts from "@/static/home/contacts";
---

<div class="space-y-4">
  <Title>cat contacts.yml</Title>
  <ul class="list-none space-y-2">
    {
      contacts.map(({ label, href, text }) => (
        <li>
          <Key>&dash; {label}: </Key>
          <Link href={href} highlight={false}>
            {text}
          </Link>
        </li>
      ))
    }
  </ul>
  <div class="opacity-70"># You can also reach me on social media</div>
</div>
