---
import Link from "../common/Link.astro";
import Key from "../common/Keyword.astro";
---

<div>
  <h3 class="font-semibold">Fun facts:</h3>
  <ul>
    <li>
      ~ I can speak <Key>French</Key>, <Key>English</Key>, and <Key>Japanese</Key
      > (<Link href="https://www.jlpt.jp/e/">N2</Link>) fluently.
    </li>
    <li>
      ~ I can solve the Rubik's cube <Key>blindfolded</Key> and I am the current
      2x2
      <Link
        href="https://www.worldcubeassociation.org/results/rankings/222/average?region=Madagascar"
        >NR</Link
      >
      holder.
    </li>
    <li>
      ~ I love <Key>cats</Key> and I am huge fan of <Link
        href="https://www.youtube.com/@marymarymary80s/videos"
        >マリマリマリ</Link
      >
      videos.
    </li>
  </ul>
</div>
