---
import Link from "../common/Link.astro";
import Title from "../common/Title.astro";
import Key from "../common/Keyword.astro";
---

<div class="flex w-full flex-col items-center space-y-4">
  <div
    class="h-36 w-36 rounded-full bg-[url('/images/cat.jpg')] bg-cover bg-center"
  >
  </div>
  <h1 class="text-xl font-semibold">Lioka Ranarison Fiderana</h1>
  <div class="text-sm">
    &lt;&gt; Full-stack Rust & TypeScript developer &lt;/&gt;
  </div>
</div>
<div class="space-y-4">
  <Title>whoami</Title>
  <p>
    I am
    <Link href="https://github.com/luckasRanarison/">Luckas</Link>, an
    enthusiastic software developer from <Key>Madagascar</Key>, primarily using
    <Key>Rust</Key> and <Key>TypeScript</Key>. Currently, I am in my third year
    at
    <Link href="https://ispm-edu.com/">ISPM</Link>, pursuing a computer science
    degree.
    <Key>Web</Key> development and <Key>low-level</Key> programming are my main areas
    of interest, where I enjoy building
    <Key>clean</Key> user interfaces and implementing <Key>complex</Key> application
    logic. I also contribute to
    <Key>open source</Key>; I maintain some Neovim
    <Link href="https://dotfyle.com/luckasRanarison">plugins</Link>,
    <Link href="https://crates.io/users/luckasRanarison">libraries</Link>, and
    <Link
      href="https://github.com/tree-sitter-grammars/tree-sitter-hyprlang/tree/master"
      >tools</Link
    >.
  </p>
  <p>
    Besides programming, I have a strong interest in
    <Key>linguistics</Key>. I spend most of my free time <Key>reading</Key> or <Key
      >solving</Key
    >
    twisty puzzles.
  </p>
</div>
